html { box-sizing: border-box; } 
* { box-sizing: inherit; }

body {
    font-family: "Fira Sans", Arial, sans-serif;
    color: #000;
    background: #E9EED9; 
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    
    
}

h1{
    background: #CBD2A4;
    padding: 3rem;
    width: 100%;
    text-align: center;
}

p{
    padding: 1rem;
    margin: 1rem;
    max-width: 800px;
}

.byline{
    background: #AAB396;
    border-radius: 25px;
}

div{
    max-width: 600px;
    background: #9A7E6F; 
    padding: 3rem;
    margin: 1rem;
    border-radius: 25px;

}

img{
    max-width: 100%;
}

@media (max-width:690px ) {
   body{
    margin: auto;
   }
}

